rules_version = '2';
service cloud.firestore {
  function isAuthenticated() {
    return request.auth != null;
  }

  match /databases/{database}/documents {
    function isAuthorized() {
      return exists(/databases/$(database)/documents/authorized-users/$(request.auth.token.email));
    }

    match /submissions/{document=**} {
      allow read, update: if isAuthenticated() && isAuthorized();
    }
  }
}
